@charset "UTF-8"; /*define a codificação de caracteres*/

body {
    background-color: #D9E4FA;
    display: flex;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    background-color: #9698FF;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.308);
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
    font-family: 24px;
    font-family: sans-serif;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

legend{
    color: black;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color:#5a5959;
}

.funcionarios-lista ul {
    list-style: none;
    padding: 0;
}

.funcionarios-lista li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
