@charset "UTF-8"; /*define a codificação de caracteres*/

body {
    font-family: Arial, sans-serif; 
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 85vh;
    margin: 0;
    background-color: #D9E4FA;
    width: 100%;
}   

a {
    color: black;
    padding: 6px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 1s;
}

label {
    display: block;
    margin-top: 10px;
}
input, select, button {
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    max-width: 300px;
}

#dias-mes {
    width: 77%;
}
button {
    background-color:black;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color:#9698FF;
}

.titledocs {
    color: black;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #D9E4FA;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #9698FF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

label {
    font-size: 14px;
    margin-top: 10px;
    display: block;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

button {
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    border: none;
    margin-top: 20px;
}

button:hover {
    background-color: #218838;
}

#mensagem {
    margin-top: 20px;
    font-size: 14px;
    color: green;
    text-align: center;
}

