/* Define o estilo do cabeçalho */
header {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    background-color:#9698FF;
    padding: 5px;
    font-size: 15px;
    z-index: 1000;
    text-align: center;
    font-family: Arial, sans-serif;
    text-shadow: 1px;
}

nav {
    color: black;
    padding: 5px;
    box-shadow: 0px 3px 3px black; 
    text-align: center;
}

/* Estilo para os links diretos dentro de <nav> */
a {
    color: black;
    padding: 6px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}
/* Estilo para os links dentro de <nav> ao passar o mouse */
header a:hover {
    color: white;
}