@charset "UTF-8"; /*define a codificação de caracteres*/

/* Define o estilo do cabeçalho */
header {
    position: fixed;/* Fixar o cabeçalho no topo da página */
    top: 0; /* Alinha o cabeçalho ao topo da página */
    left: 0; /* Alinha o cabeçalho ao lado esquerdo da página */
    width: 100%; /* Faz o cabeçalho ocupar toda a largura da página */
    background-image:linear-gradient(to left,#ff8c00, #d37400, #b86500) ;/* Fundo do cabeçalho em gradiente */
    padding: 5px; /* Adiciona um pouco de espaçamento interno */
    font-size: 15px;
    z-index: 1000; /* Garante que o cabeçalho fique acima de outros elementos */
    text-align: center; /* Alinha o texto no centro */
    font-family: sans-serif;
    text-shadow: 1px;
}

nav {
    color: black;
    padding: 5px; /* Adiciona um espaçamento interno */
    box-shadow: 0px 3px 3px black; /* Adiciona uma sombra preta de 3 pixels na parte inferior */
    text-align: center; /* Centraliza o texto e links dentro do nav */
}

/* Estilo para os links diretos dentro de <nav> */
a {
    color: black; /* Define a cor do texto */
    padding: 6px; /* Adiciona um espaçamento interno de pixels ao redor do texto do link */
    text-decoration: none; /* Remove o sublinhado dos links */
    font-weight: bold; /* Torna o texto dos links em negrito */
    transition-duration: .5s; /* Define a duração da transição para efeitos visuais ao passar o mouse */
}

/* Estilo para os links dentro de <nav> ao passar o mouse */
header a:hover {
    color: #f8f7f7; /* Muda a cor do texto para preto quando o mouse está sobre o link */
}
/*-------------------------------------------------------------------------------------------*/

body {
    background-color: #000000;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
}

.form-container {
    max-width: 1000px; /* Diminuiu de 800px para 600px */
    width: 100%;
    margin: 0px auto;
    padding: 45px;
    background-color: #3d3c3cd6;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: grid;
    grid-template-columns: repeat(5, minmax(150px, 1fr)); /* 5 colunas com largura mínima de 150px */
    gap: 25px; /* Espaçamento entre os itens */
}

h1 {
    color: #b86500;
    font-family: 24px;
    font-family: sans-serif;
}

label {
    margin: 5px;
    font-size: 12px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.emergency-contact {
    grid-column: span 2;
    grid-template-columns: auto;
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #ddd;
}

h2 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #b86500;
    font-family: sans-serif;
}

/* Estilos gerais para o contêiner das mensagens */
.message-container {
    position: fixed; /* Fixar no viewport */
    top: 50%; /* Posicionar verticalmente no centro */
    left: 50%; /* Posicionar horizontalmente no centro */
    transform: translate(-50%, -50%); /* Ajustar o posicionamento para o centro exato */
    background-color: #b86500; /* Cor de fundo verde para sucesso, ajuste conforme necessário */
    color: white; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra para destaque */
    display: none; /* Inicialmente escondido */
    z-index: 1000; /* Colocar acima de outros elementos */
}

/* Estilos específicos para mensagens de sucesso */
#successMessage {
    background-color: #4CAF50; /* Verde */
}

div .button {
    margin-top: auto;
    margin-left: auto;
    text-align: right;
}

/* Estilos para o elemento <button> */
button {
    background-color: #d37400;
    color: #fff;
    padding: 10px 20px; /* Adiciona um pouco de preenchimento ao botão */
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative; /* Torna a propriedade bottom eficaz */
    bottom: 60px;
    margin: 0; /* Remove margens para evitar deslocamento indesejado */
    float: right;
}

button:hover {
    background-color: #ff8c00;
}


.footer__content {
    position: fixed;/* Fixar o cabeçalho no topo da página */
    bottom: 0; /* Alinha o cabeçalho ao topo da página */
    left: 0; /* Alinha o cabeçalho ao lado esquerdo da página */
    width: 100%; /* Faz o cabeçalho ocupar toda a largura da página */
    background-image:linear-gradient(to left,#ff8c00, #d37400, #b86500); /* Fundo do cabeçalho em gradiente */
    font-size: 15px;
    font-family: sans-serif;
    text-shadow: 1px;
    display: grid;
    grid-auto-flow: column; /* Alinha itens em uma linha */
    align-items: center; /* Alinha itens verticalmente ao centro */
    gap: 10px; /* Espaçamento entre os itens */
    color: black;
}

.social {
    display: flex;
    list-style-type: none; /* Remove os marcadores */
    margin: 5px;
    justify-content: flex-end;
    padding: 5px;
}

.social:last-child {
    margin-right: 0;
}

.textFooter{
    margin-left: 5px;
    font-weight: 700;
}
