@charset "UTF-8"; /*define a codificação de caracteres*/

/* Define o estilo do cabeçalho */
header {
    position: fixed;/* Fixar o cabeçalho no topo da página */
    top: 0; /* Alinha o cabeçalho ao topo da página */
    left: 0; /* Alinha o cabeçalho ao lado esquerdo da página */
    width: 100%; /* Faz o cabeçalho ocupar toda a largura da página */
    background-image:linear-gradient(to left,#ff8c00, #d37400, #b86500); /* Fundo do cabeçalho em gradiente */
    padding: 5px; /* Adiciona um pouco de espaçamento interno */
    font-size: 15px;
    z-index: 1000; /* Garante que o cabeçalho fique acima de outros elementos */
    text-align: center; /* Alinha o texto no centro */
    font-family: sans-serif;
    text-shadow: 1px;
}

/* Estilo para os links dentro de <nav> ao passar o mouse */

header a:hover {
    color: #f8f7f7; /* Muda a cor do texto para preto quando o mouse está sobre o link */
}

/*-------------------------------------------------------------------------------------------*/

body {
    font-family: Arial, sans-serif; /* Define a fonte principal do documento como Arial ou uma fonte genérica sans-serif */
    display: flex; /* Utiliza Flexbox para organizar o layout do body */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    height: 85vh; /* Define a altura do body como 100% da altura da viewport */
    margin: 0; /* Remove a margem padrão do body */
    background-color: #212426; /* Define a cor de fundo do body */
    width: 100%; /* Define a largura do body como 100% */
}   

a {
    color: black; /* Define a cor do texto */
    padding: 6px; /* Adiciona um espaçamento interno de pixels ao redor do texto do link */
    text-decoration: none; /* Remove o sublinhado dos links */
    font-weight: bold; /* Torna o texto dos links em negrito */
    transition-duration: 1s; /* Define a duração da transição para efeitos visuais ao passar o mouse */
}

label {
    display: block;
    margin-top: 10px;
}
input, select, button {
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    max-width: 300px;
}

#dias-mes {
    width: 77%;
}
button {
    background-color: #d37400;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: black;
}

.titledocs {
    color: #b86500;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}